// Landing Page Styles
// ====================================

// Hero Section
.landing-hero {
  border-radius: 0 0 3.5rem 3.5rem;
  padding-top: 10.2rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  @media (min-width: $breakpoint-lg) {
    .hero-text-box {
      max-width: 34.375rem;
      margin: 0 auto;
    }
  }

  .hero-title {
    background: linear-gradient(
      to right,
      #28c76f 0%,
      #5a4aff 47.92%,
      #ff3739 100%
    );
    background-size: 200% auto;
    color: #1f2132;
    background-clip: text;
    line-height: 1.2;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s ease-in-out infinite alternate;
  }

  .hero-sub-title {
    line-height: 28px;
  }

  .landing-hero-btn .hero-btn-item {
    inset-inline-start: -102%;
    top: 50%;
  }

  .hero-animation-img {
    margin-bottom: -32rem;

    @include respond-to(xl) {
      margin-bottom: -20rem;
    }

    @include respond-to(sm) {
      margin-bottom: -10rem;
    }

    .hero-dashboard-img {
      width: 80%;
      margin: 0 auto;
      will-change: transform;
      transform-style: preserve-3d;
      transition: all 0.1s;

      img {
        width: 100%;
      }
    }
  }
}

.landing-hero-blank {
  padding-top: 26rem;

  @include respond-to(xl) {
    padding-top: 15rem;
  }

  @include respond-to(sm) {
    padding-top: 7rem;
  }
}

@keyframes shine {
  0% {
    background-position: 0% 50%;
  }
  80% {
    background-position: 50% 90%;
  }
  100% {
    background-position: 91% 100%;
  }
}

// Features
.landing-features .features-icon-wrapper .features-icon-box .features-icon-description {
  max-width: 19.25rem;
  margin: 0 auto;
}

// Reviews
.landing-reviews {
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;

  .landing-reviews-btns .reviews-btn {
    padding: 0.45rem;
  }

  .swiper-reviews-carousel {
    .swiper-button-prev,
    .swiper-button-next {
      display: none;
    }

    .swiper-slide {
      height: auto;
    }

    .client-logo {
      height: 1.375rem;
      object-fit: contain;
    }
  }

  .swiper-logo-carousel {
    .swiper {
      max-width: 45rem;

      .swiper-slide {
        display: flex;
        justify-content: center;
      }

      .client-logo {
        max-height: 2.5rem;
        max-width: 95%;
        object-fit: contain;
      }
    }
  }
}

// Team
.landing-team {
  .card,
  .card .team-image-box {
    border-top-left-radius: 5.625rem;
    border-top-right-radius: 1.25rem;
  }

  .card .card-body {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
  }

  .team-image-box {
    height: 11.5625rem;

    @include respond-to(sm) {
      height: 11rem;
    }

    .card-img-position {
      height: 15rem;
      transform: translateX(-50%);

      @include respond-to(lg) {
        height: 13rem;
      }
    }
  }

  .card .team-media-icons i {
    transition: all $transition-fast ease-in-out;
  }
}

// Pricing
.landing-pricing {
  border-radius: 3.75rem;

  .pricing-plans-item {
    inset-inline-end: -60%;
    bottom: 0;

    @include respond-to(md) {
      inset-inline-end: 0;
      bottom: 1rem;
    }
  }

  .price-yearly-toggle {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .card .card-header,
  .card .card-body {
    padding: $spacing-lg;
  }
}

// FAQ
.landing-faq {
  border-top-left-radius: 3.75rem;
  border-top-right-radius: 3.75rem;

  .faq-image {
    max-width: 20rem;
    width: 80%;
  }
}

// Contact
.landing-contact {
  .text-heading {
    overflow-wrap: anywhere;
  }

  .contact-img-box,
  .contact-img-box .contact-img {
    border-radius: 3.75rem 0.375rem 0.375rem 0.375rem;
  }

  .contact-img-box .contact-border-img {
    inset-block-start: -2.5rem;
    inset-inline-start: -2.8125rem;
  }
}

// Light/Dark styles
.light-style .landing-hero {
  background: linear-gradient(138.18deg, #eae8fd 0%, #fce5e6 94.44%);

  &::after {
    background-color: $white;
  }
}

.dark-style .landing-hero {
  background: #1e2130;

  &::after {
    background-color: #2b2c40;
  }
}

// RTL support
[dir="rtl"] {
  .landing-team .team-image-box .card-img-position {
    transform: translateX(50%) !important;
  }

  .landing-reviews .landing-reviews-btns {
    flex-direction: row-reverse;
    justify-content: start;

    .reviews-btn {
      padding: 0.45rem;
    }
  }

  .landing-pricing .switch {
    .switch-label {
      padding-right: 0;

      &:first-child {
        padding-left: 0.5rem;
      }
    }

    .switch-input ~ .switch-label {
      padding-right: 3rem;
    }
  }

  .landing-contact .contact-img-box {
    border-radius: 0.375rem 3.75rem 0.375rem 0.375rem;

    &::before {
      inset-block-start: -1.875rem;
      inset-inline-start: -3.125rem;
      transform: rotate(90deg);
    }
  }
}

