// Navbar Styles
// ====================================

nav.layout-navbar {
  backdrop-filter: unset !important;
  height: auto !important;
  z-index: $z-index-navbar !important;
  background-color: transparent !important;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &.navbar-active::after {
    backdrop-filter: saturate(100%) blur(6px);
    -webkit-backdrop-filter: saturate(100%) blur(6px);
  }
}

// Landing Navbar
.navbar.landing-navbar {
  box-shadow: none;
  transition: all $transition-fast ease-in-out;
  transform: unset !important;
  padding-bottom: 0.75rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5rem;

  .navbar-nav .nav-link {
    padding: 0.5rem 0.9375rem;

    @include respond-to(xl) {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  // Mega dropdown
  @media (min-width: $breakpoint-lg) {
    .navbar-nav .nav-item.mega-dropdown > .dropdown-menu {
      max-width: 1300px;
      inset-inline-start: 50% !important;
      transform: translateX(-50%);
      top: 100%;
    }
  }

  @include respond-to(lg) {
    .navbar-nav .nav-item.mega-dropdown > .dropdown-menu {
      background: transparent;
      box-shadow: none;
      border: none;

      .mega-dropdown-link {
        padding-left: 0;
        padding-right: 0;

        i {
          font-size: 0.625rem;
        }
      }
    }
  }

  .navbar-nav .nav-item .nav-img-col,
  .navbar-nav .nav-item .nav-img-col img {
    border-radius: 0.625rem;
  }

  // Mobile menu
  @include respond-to(lg) {
    .landing-menu-overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(67, 89, 113, 0.78);
      transition: all $transition-fast ease-in-out;
      z-index: $z-index-overlay;
    }

    .landing-nav-menu {
      position: fixed;
      display: block !important;
      height: 100%;
      max-width: 300px;
      width: 80%;
      padding: $spacing-sm;
      inset-inline-start: -100%;
      top: 0;
      overflow-y: auto;
      transition: all $transition-normal ease-in-out;
      z-index: $z-index-menu;

      &.show {
        inset-inline-start: 0;

        ~ .landing-menu-overlay {
          display: block;
        }
      }
    }
  }
}

// Light style navbar
.light-style .layout-navbar .navbar.landing-navbar {
  border-color: rgba(255, 255, 255, 0.68);
  background: rgba(255, 255, 255, 0.38);

  .navbar-nav .nav-link {
    color: #1f2132;

    &.show,
    &.active,
    .show > &,
    .active > & {
      color: #eb5e28 !important;
    }
  }

  @include respond-to(lg) {
    .landing-nav-menu {
      background-color: $white;
    }
  }

  &.navbar-active {
    background: $white;
    box-shadow: 0 0.125rem 0.25rem rgba(161, 172, 184, 0.4);
  }

  .menu-text {
    color: #1f2132;
  }
}

// Dark style navbar
.dark-style .layout-navbar .navbar.landing-navbar {
  border-color: rgba(255, 255, 255, 0.08);
  background-color: rgba(255, 255, 255, 0.04);

  .navbar-nav .nav-link {
    color: #cbcbe2;

    &.show,
    &.active,
    .show > &,
    .active > & {
      color: #eb5e28 !important;
    }
  }

  @include respond-to(lg) {
    .landing-nav-menu {
      background-color: #2b2c40;
    }
  }

  .menu-text {
    color: #cbcbe2;
  }

  &.navbar-active {
    background: #2b2c40;
    border-color: #2b2c40;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
  }
}

// RTL support
@media (min-width: $breakpoint-lg) {
  [dir="rtl"] .navbar.landing-navbar .navbar-nav .nav-item.mega-dropdown > .dropdown-menu {
    transform: translateX(50%);
  }
}

